<% var title = "Create New Password"; %>

<% include ../partials/top.ejs %>

<div class="container-fluid container-fill-height login_container">
    <div class="container-content-middle">

        <!--LOGO GOES HERE-->

        <div style="margin-bottom: 100px">
            <img src="../DDRGUY_LOGO.png" alt="Logo" style="margin-left: auto; margin-right: auto; display: block">
        </div>
        <!--END OF LOGO CODE-->

        <form action="/create-new-password" method="post" role="form" class="m-x-auto text-center app-login-form">

            <div class="form-group">
                <input id="create_new_password" name="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group m-b-md">
                <input id="create_new_password_confirm" name="password" type="password" class="form-control" placeholder="Confirm Password">
            </div>

            <div class="m-b-lg">
                <button id="btn_submit_new_password" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>

<% include ../partials/bottom.ejs %>
