<% var title = "Forgot Password"; %>

<% include ../partials/top.ejs %>

<div class="container-fluid container-fill-height login_container">
    <div class="container-content-middle">

        <!--LOGO GOES HERE-->

        <div style="margin-bottom: 90px">
            <img src="../DDRGUY_LOGO.png" alt="Logo" style="margin-left: auto; margin-right: auto; display: block">
        </div>
        <!--END OF LOGO CODE-->

        <form action="/forgotpass" method="post" role="form" class="m-x-auto text-center app-login-form">

            <div class="form-group">
                <input id="email" name="email" class="form-control" placeholder="email">
            </div>

            <div class="m-b-lg">
                <button id="btn_reset_pass" class="btn btn-primary">Reset Password</button>
            </div>

            <footer class="screen-login">


            </footer>

        </form>
    </div>
</div>

<% include ../partials/bottom.ejs %>
